.l-amp-tm-wrap {
	width: 100%;
}

.l-amp-tm-category {

}

.l-amp-tm-row {
	clear: both;
}

.l-amp-tm-box {

}

.l-amp-tm-box-1-column ,
.l-amp-tm-box-2-columns ,
.l-amp-tm-box-3-columns ,
.l-amp-tm-box-4-columns ,
.l-amp-tm-box-5-columns ,
.l-amp-tm-box-6-columns {
	float: left;
	text-align: center;
	margin-left: 0.25%;
	margin-right: 0.25%;
	margin-bottom: 25px;
}

.l-amp-tm-box-1-column {
	width: 99.5%;
}

.l-amp-tm-box-2-columns {
	width: 49.5%;
}

.l-amp-tm-box-3-columns {
	width: 32.5%;
}

.l-amp-tm-box-4-columns {
	width: 24.5%;
}

.l-amp-tm-box-5-columns {
	width: 19.5%;
}

.l-amp-tm-box-6-columns {
	width: 16.1666666667%;
}

.l-amp-tm-box-photo {

}

.l-amp-tm-box-info {

}

.l-amp-tm-box-name {

}

.l-amp-tm-box-content {

}

.l-amp-tm-box-social-icons {

}

@media (max-width: 767px) {
	.l-amp-tm-box-4-columns,
	.l-amp-tm-box-5-columns,
	.l-amp-tm-box-6-columns {
		width: 49.5%;
	}
}

@media (max-width: 640px) {
	.l-amp-tm-box-4-columns,
	.l-amp-tm-box-5-columns,
	.l-amp-tm-box-6-columns {
		width: 32.5%;
	}
}

@media (max-width: 360px) {
	.l-amp-tm-box-3-columns,
	.l-amp-tm-box-4-columns,
	.l-amp-tm-box-5-columns,
	.l-amp-tm-box-6-columns {
		width: 49.5%;
	}
}